<!DOCTYPE html>
<html lang="en"></html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wedding Planner! Login Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/login.css">
	</head>
    <body>
        <h1>S  U C  C  E S S</h1>
        <h1><a href="/logout">LOGOUT</a></h1>
    </body>
</html>